
server {
    listen 80;
    listen [::]:80;

    {% if ansible_connection != 'local' %}
    server_name www.shimmerai.online shimmerai.online;
    {% endif %}

    root /var/www/shimmerai;

    index index.html;

    location / {
        try_files $uri $uri/ =404;
    }
}
